.main-header {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 3px solid $text-main-color;
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: calc($max-width + 20px);
  height: 70px;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;

  @include match-tablet {
    flex-direction: column;
    height: max-content;
    padding: 10px;
  }
}
  
.nav {
  display: flex;
  align-items: center;
  width: 300px;

  @include match-tablet {
    width: 250px;
    margin-top: space(2);
  }
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item a {
  font-weight: bold;
  color: $text-main-color;
  text-decoration: none;

  &:hover {
    border-bottom: 3px solid $text-main-color;
  }
}

body.bands-page {
  .nav__item--bands a {
    border-bottom: 3px solid $text-main-color;
  }
}

body.info-page {
  .nav__item--info a {
    border-bottom: 3px solid $text-main-color;
  }
}


body.contact-page {
  .nav__item--contact a {
    border-bottom: 3px solid $text-main-color;
  }
}


body.home-page {
  header {
    .icon-circle {
      border: 3px solid white;
    }
  }

  .main-header {
    position:absolute;
    top: 0;
    color: white;
    border-bottom: 0;

    * {
      color: white;
    }

    .nav__item a:hover {
      border-bottom: 3px solid white;
    }
  }
}
