<footer class="w-full flex items-center mb-6 pt-7 tablet:pt-10 px-2">
    <div
        class="flex items-center justify-between m-auto flex-col w-full gap-4 desktop:w-20 desktop:flex-row border-t-4 border-black pt-3"
    >
        <include src="./views/logo.html"></include>
        <nav class="footer-links">
            <ul
                class="flex gap-3 flex-col desktop:flex-row desktop:gap-7 text-center"
            >
                <li class="menu-list-item">
                    <a href="./index.html">Homepage</a>
                </li>
                <li class="menu-list-item">
                    <a href="./bands.html">Grupos</a>
                </li>
                <li class="menu-list-item">
                    <a href="#">Información</a>
                </li>
                <li class="menu-list-item">
                    <a href="./contact.html">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="flex gap-3">
            <a href="#" class="footer-media__item">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="#" class="footer-media__item">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="footer-media__item">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>
