<footer class="main-footer">
    <div class="main-footer__wrapper">
        <include src="./views/logo.html"></include>
        <nav class="footer-links">
            <ul class="footer-links__wrapper">
                <li class="footer-links__item footer-link__item--home">
                    <a href="./index.html">Homepage</a>
                </li>
                <li class="footer-links__item footer-link__item--groups">
                    <a href="./bands.html">Grupos</a>
                </li>
                <li class="footer-links__item footer-links__item--info">
                    <a href="#">Información</a>
                </li>
                <li class="footer-links__item footer-links__item--contact">
                    <a href="./contact.html">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="footer-media">
            <a href="#" class="footer-media__item">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="#" class="footer-media__item">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="footer-media__item">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>
