<header class="main-header">
    <div class="main-header__wrapper">
        <include src="./views/logo.html"></include>
        <nav class="nav">
            <ul class="nav__wrapper">
                <li class="nav__item nav__item--bands">
                    <a href="./bands.html">Grupos</a>
                </li>
                <li class="nav__item nav__item--info">
                    <a href="#">Información</a>
                </li>
                <li class="nav__item nav__item--contact">
                    <a href="./contact.html">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
