<header class="w-full p-3 flex items-center border-b-4 border-black mb-6">
    <div
        class="flex items-center justify-between m-auto flex-col w-full tablet:w-20 tablet:flex-row"
    >
        <include src="./views/logo.html"></include>
        <nav class="nav">
            <ul class="flex items-center gap-2">
                <li class="nav__item nav__item--bands">
                    <a href="./bands.html">Grupos</a>
                </li>
                <li class="nav__item nav__item--info">
                    <a href="#">Información</a>
                </li>
                <li class="nav__item nav__item--contact">
                    <a href="./contact.html">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
