<header class="w-full p-3 flex items-center border-b-4 border-black mb-6">
    <div
        class="flex items-center justify-between m-auto flex-col w-full gap-3 desktop:w-20 desktop:flex-row"
    >
        <include src="./views/logo.html"></include>
        <nav>
            <ul class="flex items-center gap-6">
                <li class="menu-list-item">
                    <a href="./bands.html">Grupos</a>
                </li>
                <li class="menu-list-item">
                    <a href="#">Información</a>
                </li>
                <li class="menu-list-item">
                    <a href="./contact.html">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
