@use "sass:color";
@use "sass:list";

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

$text-main-color: black;
$text-sec-color: rgb(73, 73, 73);

$bg-main-color: white;
$bg-sec-color: white;

$white: white;

$max-width: 1100px;
$breakpoint-small: 480px;
$breakpoint-medium: 930px;

/*------------------------------------*\
  # UTILS (MIXINS AND FUNCTIONS)
\*------------------------------------*/

//             1   2   3   4   5   6   7   8    9   10
$space-values: (5, 10, 15, 20, 25, 30, 40, 60, 100, 160);

@function space($value) {
  @return list.nth($space-values, $value) * 1px;
}

@mixin match-mobile {
  @media screen and (max-width: $breakpoint-small) {
    @content;
  }
}

@mixin match-tablet {
  @media screen and (max-width: $breakpoint-medium) {
    @content;
  }
}

/*------------------------------------*\
  # CUSTOM COMPONENTS
\*------------------------------------*/

$btn-border-radius: 0;
$btn-border-width: 0;
$btn-padding-y: space(2);
$btn-padding-x: space(4);

$input-btn-border-width: 3px;